<!-- TODO LIST.....
    
    MAKE IT SO ALL OF THE FORMS AND STUFF WORK INTEGRALLY WITH THEIR MODALS
    
    -->

<div class="bodyContainer">
    <div>
        <center>
            <h1 class="ossTitle">{{title}}</h1>
        </center>
    </div>
   
    

    <!-- activation buttons for editing stuff. need to have different groups appear to have different results when different
        things are dealth with-->
    <div ng-if="items" class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editItemModal">Edit</button>
        <button type="button" class="btn btn-default" ng-click="deleteItems(checkedItems); getItems()">Delete</button>
        <br />
        <br />
        <h5>Note: once you choose to edit an item, the old item information will be deleted</h5>
    </div>
    <div ng-if="crates" class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editCrateModal">Edit</button>
        <button type="button" class="btn btn-default" ng-click="deleteCrates(checkedCrates); getCrates()">Delete</button>
        <br />
        <br />
        <h5>Note: once you choose to edit an item, the old item information will be deleted</h5>
    </div>
    <div ng-if="projects" class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editProjectModal">Edit</button>
        <button type="button" class="btn btn-default" ng-click="deleteProjects(checkedProjects); getProjects()">Delete</button>
        <br />
        <br />
        <h5>Note: once you choose to edit an item, the old item information will be deleted</h5>
    </div>
    <div ng-if="new" class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addItemModal">Add as Item</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addCrateModal">Add as Crate</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addProjectModal" ng-click="getItems()">Add a Project</button>
        <br />
        <br />
        <h5>Note: you must refresh the page if you cancel your changes</h5>
    </div>



    



    <br />
    <br />

    

    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-model="items" ng-click="items=true; crates=false; projects=false; new=false; getItems(); reverse='true'; clearAllChecks()"><a href="">Items</a></li>
            <li role="presentation" ng-model="crates" ng-click="crates=true; items=false; projects=false; new=false; getCrates(); reverse='true'; clearAllChecks()"><a href="">Crates</a></li>
            <li role="presentation" ng-model="projects" ng-click="projects=true; items=false; crates=false; new=false; getProjects(); reverse='true'; clearAllChecks()"><a href="">Projects</a></li>
            <li role="presentation" ng-click="projects=false; items=false; crates=false; new=true; getNewInventory(); reverse='true'; clearAllChecks()"><a href="">New Tags/Inventory</a></li> <!-- no ng-model.. not sure what that does-->
        </ul>
    </div>


    <!-- display tabs-->
    <div>
        <span ng-if="items">
            <!-- ITEM LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">Items</div>
                <table class="table">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='ItemName'; reverse=!reverse">Label</a></th>
                    <th><a href="" ng-click="predicate='ItemQuantity'; reverse=!reverse">Quantity</a></th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="item in allItems | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="toggleItem(item)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{item.ItemName}}
                        </td>
                        <td>
                            {{item.ItemQuantity}}
                        </td>
                    </tr>
                </table>
            </div>
        </span>
        <span ng-if="crates">
            <!-- CRATE LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">Crates</div>
                <table class="table">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='CrateID'; reverse=!reverse">Crate ID</a></th>
                    <th><a href="">Click for Item List</a></th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="crate in allCrates | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="toggleCrate(crate)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{crate.CrateID}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#crateListModal" ng-click="compileModalItems(crate.ItemList); modalReverse='true'">
                                Item List
                            </button>
                            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#crateListBuilderModal" ng-click="modalReverse='true'; setCurrentCrate(crate); getItems()">
                                Edit Item List
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </span>


        <span ng-if="projects">
            <!-- PROJECTS LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">Projects</div>
                <table class="table">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='ProjectName'; reverse=!reverse">Label</a></th>
                    <th><a href="" ng-click="predicate='Description'; reverse=!reverse">Description</a></th>
                    <th><a href=""></a>Item List</th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="project in allProjects | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-click="toggleProject(project)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{project.ProjectName}}
                        </td>
                        <td>
                            {{project.Description}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#projectListModal" ng-click="compileProjectModalItems(project); modalReverse='true'">
                                Item List
                            </button>
                            <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#projectListBuilderModal" ng-click="modalReverse='true'; setCurrentProject(project); getItems()">
                                Edit Item List
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </span>
        <span ng-if="new">
            <!-- New EPC List -->
            <div class="panel panel-default">
                <div class="panel-heading">Items</div>
                <table class="table">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='EPCData'; reverse=!reverse">EPC Data</a></th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="item in newItems | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="toggleNewItem(item)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{item.EPCData.EPC}}
                            {{item.EPCData.Timestamp}}
                        </td>
                    </tr>
                </table>
            </div>
        </span>



        <br />
        <br />
    </div> <!---end panels/display tabs-->

    <!-- crate item list modal-->
    <div class="fade modal" id="crateListModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Item List</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <th><a href="" ng-click="predicate ='Label'; modalReverse=!modalReverse">Label</a></th>
                        <th><a href="" ng-click="predicate ='Quantity'; modalReverse=!modalReverse">Quantity</a></th>
                        <tr ng-repeat="modalItem in modalItems | orderBy:predicate:modalReverse">
                            <td>{{modalItem.ItemName}}</td>
                            <td>{{modalItem.ItemQuantity}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- project list item display modal-->
    <div class="fade modal" id="projectListModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Item List</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <th><a href="" ng-click="predicate ='label'; modalReverse=!modalReverse">Label</a></th>
                        <th><a href="" ng-click="predicate ='quantity'; modalReverse=!modalReverse">Quantity</a></th>
                        <tr ng-repeat="modalItem in modalItems | orderBy:predicate:modalReverse">
                            <td>{{modalItem.label}}</td>
                            <td>{{modalItem.quantity}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- edit item modal-->
    <div class="fade modal" id="editItemModal">
        <div class="modal-open">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Editing Items</h4>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <table class="table">
                        <th><a href="" ng-click="predicate ='EPCData'; modalReverse=!modalReverse">EPC Data</a></th>
                        <th><a href="" ng-click="predicate ='ItemName'; modalReverse=!modalReverse">Item Name</a></th>
                        <th><a href="" ng-click="predicate ='CrateID'; modalReverse=!modalReverse">Crate ID</a></th>
                        <th><a href="" ng-click="predicate ='ItemProject'; modalReverse=!modalReverse">Item Project</a></th>
                        <th><a href="" ng-click="predicate ='ItemQuantity'; modalReverse=!modalReverse">Item Quantity</a></th>
                        <th><a href="" ng-click="predicate ='ItemStatus'; modalReverse=!modalReverse">Item Status</a></th>
                        <tr ng-repeat="item in checkedItems | orderBy:predicate:modalReverse">
                            <td>
                                {{item.EPCData.EPC}}
                                {{item.EPCData.Timestamp}}
                            </td>
                            <td>
                                <ng-form>
                                    <label>Item Name : {{item.ItemName}}</label>
                                    <input type="text" class="form-control" ng-model="item.ItemName">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate ID : {{item.CrateID}}</label>
                                    <input type="text" class="form-control" ng-model="item.CrateID">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>ItemProject : {{item.ItemProject}}</label>
                                    <input type="text" class="form-control" ng-model="item.ItemProject">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>ItemQuantity : {{item.ItemQuantity}}</label>
                                    <input type="text" class="form-control" ng-model="item.ItemQuantity">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Item Status : {{item.ItemStatus}} (0 for in 1 for out)</label>
                                    <input type="text" class="form-control" ng-model="item.ItemStatus">
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editItems(checkedItems)">Submit Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- edit crate modal-->
    <div class="fade modal" id="editCrateModal">
        <div class="modal-open">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Editing Crates</h4>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <table class="table">
                        <th><a href="" ng-click="predicate ='EPCData'; modalReverse=!modalReverse">EPCData</a></th>
                        <th><a href="" ng-click="predicate ='CrateID'; modalReverse=!modalReverse">CrateID</a></th>
                        <th><a href="" ng-click="predicate ='CrateLocation'; modalReverse=!modalReverse">CrateLocation</a></th>
                        <th><a href="" ng-click="predicate ='CrateCategory'; modalReverse=!modalReverse">CrateCategory</a></th>
                        <th><a href="" ng-click="predicate ='CrateProject'; modalReverse=!modalReverse">CrateProject</a></th>
                        <th><a href="" ng-click="predicate ='CrateStatus'; modalReverse=!modalReverse">CrateStatus</a></th>
                        <tr ng-repeat="crate in checkedCrates | orderBy:predicate:modalReverse">
                            <td>
                                {{crate.EPCData.EPC}}
                                {{crate.EPCData.Timestamp}}
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate ID : {{crate.CrateID}}</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateID">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate Location : {{crate.CrateLocation}}</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateLocation">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate Category : {{crate.CrateCategory}}</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateCategory">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate Project : {{crate.CrateProject}}</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateProject">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate Status : {{crate.CrateStatus}} (0 for in 1 for out)</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateStatus">
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                    <!-- collapsable thing that lists items-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editCrates(checkedCrates)">Submit Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="getCrates()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- edit project modal-->
    <div class="fade modal" id="editProjectModal">
        <div class="modal-open">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Editing Projects</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <th><a href="" ng-click="predicate ='ProjectName'; modalReverse=!modalReverse">ProjectName</a></th>
                        <th><a href="" ng-click="predicate ='Description'; modalReverse=!modalReverse">Description</a></th>
                        <tr ng-repeat="project in checkedProjects | orderBy:predicate:modalReverse">
                            <td>
                                <ng-form>
                                    <label>Project Name : {{project.ProjectName}}</label>
                                    <input type="text" class="form-control" ng-model="project.ProjectName">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Description : {{project.Description}}</label>
                                    <input type="text" class="form-control" ng-model="project.Description">
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                </div>
                {{checkedProjects}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editProject(checkedProjects)">Submit Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--ITEM LIST BUILDER FOR A ----PROJECT----- MODAL-->
    <div class="fade modal" id="projectListBuilderModal">
        <div class="modal-open">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Project Item List Builder</h4>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <table class="table">
                        <th></th>
                        <th><a href="" ng-click="predicate ='ItemName'; modalReverse=!modalReverse">Item Name</a></th>
                        <th><a href="">Quantity Needed (0 is default)</a></th>
                        <tr ng-repeat="myItem in allItems  | orderBy:predicate:modalReverse">
                            <td>
                                <input type="checkbox" name="identifier" ng-value="myItem" ng-click="toggleBuilder(myItem.ItemName, QuantityNeeded)" />
                            </td>
                            <td>
                                {{myItem.ItemName}}
                            </td>
                            <td>
                                <ng-form>
                                    <label>Quantity Needed</label>
                                    <input type="text" class="form-control" ng-model="QuantityNeeded">
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editProjectItems(checkedBuilder, currentProject); clearBuilder()">Submit Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearBuilder()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ITEM LIST BUILDER MODAL FOR -----CRATE------->
    <div class="fade modal" id="crateListBuilderModal">
        <div class="modal-open">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Crate Item List Builder</h4>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <table class="table">
                        <th></th>
                        <th><a href="" ng-click="predicate ='ItemName'; modalReverse=!modalReverse">Item Name</a></th>
                        <tr ng-repeat="myItem in allItems  | orderBy:predicate:modalReverse">
                            <td>
                                <input type="checkbox" name="identifier" ng-value="myItem" ng-click="toggleBuilder(myItem)" />
                            </td>
                            <td>
                                {{myItem.ItemName}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editCrateItems(checkedBuilder, currentCrate); clearBuilder(); forceReload()">Submit Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearBuilder()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ADD NEW ITEM MODAL-->
    <div class="fade modal" id="addItemModal">
        <div class="modal-open">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Adding Items</h4>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <table class="table">
                        <th><a href="" ng-click="predicate ='EPCData'; modalReverse=!modalReverse">EPC Data</a></th>
                        <th><a href="" ng-click="predicate ='ItemName'; modalReverse=!modalReverse">Item Name</a></th>
                        <th><a href="" ng-click="predicate ='CrateID'; modalReverse=!modalReverse">Crate ID</a></th>
                        <th><a href="" ng-click="predicate ='ItemProject'; modalReverse=!modalReverse">Item Project</a></th>
                        <th><a href="" ng-click="predicate ='ItemQuantity'; modalReverse=!modalReverse">Item Quantity</a></th>
                        <th><a href="" ng-click="predicate ='ItemStatus'; modalReverse=!modalReverse">Item Status</a></th>
                        <tr ng-repeat="item in checkedNewItems | orderBy:predicate:modalReverse">
                            <td>
                                {{item.EPCData.EPC}}
                                {{item.EPCData.Timestamp}}
                            </td>
                            <td>
                                <ng-form>
                                    <label>Item Name</label>
                                    <input type="text" class="form-control" ng-model="item.ItemName">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate ID</label>
                                    <input type="text" class="form-control" ng-model="item.CrateID">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Item Project</label>
                                    <input type="text" class="form-control" ng-model="item.ItemProject">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Item Quantity</label>
                                    <input type="text" class="form-control" ng-model="item.ItemQuantity">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Item Status (0 for in 1 for out)</label>
                                    <input type="text" class="form-control" ng-model="item.ItemStatus">
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <!-- NEED TO ADD FUNCTIONALITY TO THIS BUTTON -->
                    <button type="button" class="btn btn-default" ng-click="addItems(checkedNewItems)" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- ADD NEW CRATE MODAL-->
    <div class="fade modal" id="addCrateModal">
        <div class="modal-open">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Adding Crates</h4>
                    <h5>Note: Items can be added to the crate in the crate editing section once it is made</h5>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <table class="table">
                        <th><a href="" ng-click="predicate ='EPCData'; modalReverse=!modalReverse">EPCData</a></th>
                        <th><a href="" ng-click="predicate ='CrateID'; modalReverse=!modalReverse">CrateID</a></th>
                        <th><a href="" ng-click="predicate ='CrateLocation'; modalReverse=!modalReverse">CrateLocation</a></th>
                        <th><a href="" ng-click="predicate ='CrateCategory'; modalReverse=!modalReverse">CrateCategory</a></th>
                        <th><a href="" ng-click="predicate ='CrateProject'; modalReverse=!modalReverse">CrateProject</a></th>
                        <th><a href="" ng-click="predicate ='CrateStatus'; modalReverse=!modalReverse">CrateStatus</a></th>
                        <tr ng-repeat="crate in checkedNewItems | orderBy:predicate:modalReverse">
                            <td>
                                {{crate.EPCData.EPC}}
                                {{crate.EPCData.Timestamp}}
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate ID</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateID">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate Location</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateLocation">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate Category</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateCategory">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>CrateProject</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateProject">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Crate Status (0 for in 1 for out)</label>
                                    <input type="text" class="form-control" ng-model="crate.CrateStatus">
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addCrates(checkedNewItems)" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ADD NEW PROJECT MODAL-->
    <div class="fade modal" id="addProjectModal">
        <div class="modal-open">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Adding Projects</h4>
                </div>
                <div class="modal-body">
                    <!-- -->
                    <table class="table">
                        <th><a href="" ng-click="predicate ='ProjectName'; modalReverse=!modalReverse">ProjectName</a></th>
                        <th><a href="" ng-click="predicate ='Description'; modalReverse=!modalReverse">Description</a></th>
                        <tr>
                            <td>
                                <ng-form>
                                    <label>ProjectName</label>
                                    <input type="text" class="form-control" ng-model="project.ProjectName">
                                </ng-form>
                            </td>
                            <td>
                                <ng-form>
                                    <label>Description</label>
                                    <input type="text" class="form-control" ng-model="project.Description">
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                    <h4>Items to Add</h4>
                    <table class="table">
                        <th></th>
                        <th><a href="" ng-click="predicate ='ItemName'; modalReverse=!modalReverse">Item Name</a></th>
                        <th><a href="">Quantity Needed (0 is default)</a></th>
                        <tr ng-repeat="myItem in allItems  | orderBy:predicate:modalReverse">
                            <td>
                                <input type="checkbox" name="identifier" ng-value="myItem" ng-click="toggleBuilder(myItem.ItemName, QuantityNeeded)" />
                            </td>
                            <td>
                                {{myItem.ItemName}}
                            </td>
                            <td>
                                <ng-form>
                                    <label>Quantity Needed</label>
                                    <input type="text" class="form-group" ng-model="QuantityNeeded">
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addProject(project, checkedBuilder); clearBuilder()" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearBuilder()">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div><!-- end page or rather the area everything is in-->








