<div class="bodyContainer">
    <div>
        <center>
            <h1 class="ossTitle">{{title}}</h1>
        </center>
    </div>
   
    

    <!-- activation buttons for editing stuff. need to have different groups appear to have different results when different
        things are dealth with-->
    <div ng-if="items" class="btn-group" role="group">
        <button type="button" class="btn btn-default">Edit</button>
        <button type="button" class="btn btn-default">Delete</button>
    </div>
    <div ng-if="crates" class="btn-group" role="group">
        <button type="button" class="btn btn-default">Edit</button>
        <button type="button" class="btn btn-default">Delete</button>
    </div>
    <div ng-if="projects" class="btn-group" role="group">
        <button type="button" class="btn btn-default">Edit</button>
        <button type="button" class="btn btn-default">Delete</button>
    </div>


    



    <br />
    <br />

    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-model="items" ng-click="items=true; crates=false; projects=false; getItems()"><a href="">Items</a></li>
            <!--<li role="presentation" class="active" ng-model="items" ng-click="items=true; crates=false; projects=false;"><a href="">Items</a></li>-->
            <li role="presentation" ng-model="crates" ng-click="crates=true; items=false; projects=false;"><a href="">Crates</a></li>
            <li role="presentation" ng-model="projects" ng-click="projects=true; items=false; crates=false;"><a href="">Projects</a></li>
        </ul>
    </div>

    <div>
        <span ng-if="items">
            <!-- ITEM LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">Items</div>
                <table class="table" ng-init="reverse=true">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='ItemName'; reverse=!reverse">Label</a></th>
                    <th><a href="" ng-click="predicate='ItemQuantity'; reverse=!reverse">Quantity</a></th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="item in allItems | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="addItem(item)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{item.ItemName}}
                        </td>
                        <td>
                            {{item.ItemQuantity}}
                        </td>
                    </tr>
                </table>
            </div>
        </span>
        <span ng-if="crates">
            <!-- CRATE LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">Crates</div>
                <table class="table" ng-init="reverse=true">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='CrateID'; reverse=!reverse">Crate ID</a></th>
                    <th><a href="">Click for Item List</a></th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="crate in allCrates | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="addCrate(crate)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{crate.CrateID}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#crateListModal">
                                List
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </span>


        <span ng-if="projects">
            <!-- PROJECTS LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">Projects</div>
                <table class="table" ng-init="reverse=true">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='ItemName'; reverse=!reverse">Label</a></th>
                    <th><a href="" ng-click="predicate='ItemQuantity'; reverse=!reverse">Quantity</a></th>
                    <th><a href="" ng-click="predicate='ItemQuantity'; reverse=!reverse"</a>Availability</th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="item in allProjects | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="addItem(item)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{item.ItemName}}
                        </td>
                        <td>
                            {{item.ItemQuantity}}
                        </td>
                    </tr>
                </table>
            </div>
        </span>
        <br />
        <br />
    </div> <!---end panels-->

    <!-- modal for crate item list display-->
    <div class="fade modal" id="crateListModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Item List</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div><!-- end page or rather the area everything is in-->








