<!--<div class="jumbotron">
    <ul class="list-group">
        <li ng-show="favorites" class="list-group-item" ng-repeat="t in favorites">
            {{t.title}}
        </li>
    </ul>
    <button class="btn btn-block" ng-click="getFavourites()">Get Favorites Tracks</button>
</div>-->

<div class="bodyContainer">
    <div>
        <center>
            <h1 class="ossTitle">{{title}}</h1>
        </center>
    </div>
    <br />
    <br />
        <div class="container">
            <center>
                <img id="landImage" ng-src={{image}} />
            </center>
          
        </div>
    <div>

    </div>




</div>