<div class="bodyContainer">
    <button type="button" onclick="" class="btn btn-default">Approve</button>
    <button type="button" onclick="" class="btn btn-default">Deny</button>
    <div class="panel panel-default">
        <div class="panel-heading">User Account Requests</div>
        <table class="table">
            <th><a href="" ng-click="predicate =''; reverse=!reverse">First Name</a></th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse">Last Name</a></th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse">Email</a></th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse">Phone Number</a></th>
            <tr class="animate-repeat" ng-repeat="friend in friends | orderBy:predicate:reverse">
                <td>
                    <input type="checkbox" name="identifier" ng-value="friend" ng-click="addItem(friend)" />
                    <!-- the ng-click calls a function in the controller that adds the item to an array-->
                </td>
                <td>
                    {{friend.name}}
                </td>
                <td>
                    {{friend.age}}
                </td>
            </tr>
        </table>
    </div>
</div>
