<div class="bodyContainer">
    <div>
        <center>
            <h1 class="ossTitle">{{title}}</h1>
        </center>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-success btn-lg" aria-expanded="false" ng-click="approve()">Approve</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-danger btn-lg" aria-expanded="false" ng-click="deny()">Deny</button>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <center>
                <h3><b>User Inventory Request Forms</b></h3>
            </center>
        </div>
        <table class="table">
            <th><a href="" ng-click="predicate =''; reverse=!reverse"></a></th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse"></a>Processed by</th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse">Requester</a></th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse">Organization</a></th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse">Reason</a></th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse">Crates</a></th>
            <th><a href="" ng-click="predicate =''; reverse=!reverse">Items</a></th>
            <tr class="animate-repeat" ng-repeat="form in forms | orderBy:predicate:reverse">
                <td>
                    <input type="checkbox" ng-model="checked" ng-change="checked? addTemp($index): removeTemp($index)" />
                    <!-- the ng-click calls a function in the controller that adds the item to an array-->
                </td>
                <a type="checkbox" ng-model="checked" ng-change="checked? addTemp($index): removeTemp($index)" />
                <!--the ng-click calls a function in the controller that adds the item to an array-->
                </td>
                <td>
                    {{form.RegisteredUser}}
                <td>
                    {{form.Requester}}
                </td>
                <td>
                    {{form.Organization}}
                </td>
                <td>
                    {{form.Reason}}
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#crateListModal" ng-click="openCrateModal($index)">
                        View Crates List
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#ItemListModal" ng-click="openItemModal($index)">
                        View Items List
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- modal for crate item list display-->
<div class="fade modal" id="crateListModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Crate List</h4>
            </div>
            <div class="modal-body">
                <table class="table" ng-show="!isCrateEmpty">
                    <th><a href="" crate ng-click="predicate ='Item Name'; modalReverse=!modalReverse">Crate ID</a></th>
                    <th><a href="" ng-click="predicate ='Quantity'; modalReverse=!modalReverse">Location</a></th>
                    <tr ng-repeat="crate in crateModalData | orderBy:predicate:modalReverse">
                        <td>{{crate.CrateID}}</td>
                        <td>{{crate.CrateLocation}}</td>
                    </tr>
                </table>
                <center ng-show="isCrateEmpty">
                    <h2>No Crates Requested</h2>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="fade modal" id="ItemListModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Item List</h4>
            </div>
            <div class="modal-body">
                <table class="table" ng-show="!isItemEmpty">
                    <th><a href="" ng-click="predicate ='Item Name'; modalReverse=!modalReverse">Item</a></th>
                    <th><a href="" ng-click="predicate ='Quantity'; modalReverse=!modalReverse">Quantity</a></th>
                    <th><a href="" ng-click="predicate ='Quantity'; modalReverse=!modalReverse">Location</a></th>
                    <tr ng-repeat="item in itemModalData | orderBy:predicate:modalReverse">
                        <td>{{item.ItemName}}</td>
                        <td>{{item.ItemQuantity}}</td>
                        <td>{{item.ItemLocation}}</td>
                    </tr>
                </table>
                <center ng-show="isItemEmpty">
                    <h2>No Items Requested</h2>
                </center>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->