<div class="bodyContainer">
    <div>
        <center>
            <h1 class="ossTitle">Storage Administrator</h1>
        </center>
    </div>


    <!-- activation buttons for reserving stuff-->
    <!--<div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="sendRequest()">Edit</button>
        <button type="button" class="btn btn-default" ng-click="sendRequest()">Delete</button>
    </div>-->
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="sendRequest()">Request</button>
    </div>

    <br />
    <br />

    <div>
        <ul class="nav nav-tabs">
            <!--<li role="presentation" class="active" ng-model="items" ng-click="items=true; crates=false; projects=false; getItems();"><a href="">Items</a></li>-->
            <li role="presentation" class="active" ng-model="items" ng-click="items=true; crates=false; projects=false;"><a href="">Items</a></li>
            <li role="presentation" ng-model="crates" ng-click="crates=true; items=false; projects=false"><a href="">Crates</a></li>
            <li role="presentation" ng-model="projects" ng-click="projects=true; items=false; crates=false"><a href="">Projects</a></li>
        </ul>
    </div>
    <!--this is just dummy data used to test the table-->
    <div>
        <span ng-if="items">
            <!-- ITEM LIST -->
            <div class="panel panel-default">
                <div class="panel-heading">Items</div>
                <table class="table" ng-init="reverse=true">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='ItemName'; reverse=!reverse">Label</a></th>
                    <th><a href="" ng-click="predicate='ItemQuantity'; reverse=!reverse">Quantity</a></th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="item in allItems | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="addItem(item)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{item.ItemName}}
                        </td>
                        <td>
                            {{item.ItemQuantity}}
                        </td>
                    </tr>
                </table>
            </div>
        </span>
        <span ng-if="crates">
            <!-- CRATE LIST -->
            <div class="panel-heading">Crates</div>
            <div class="panel panel-default">
                <table class="table" ng-init="reverse=true">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='ItemName'; reverse=!reverse">Label</a></th>
                    <th><a href="" ng-click="predicate='ItemQuantity'; reverse=!reverse">Quantity</a></th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="item in allCrates | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="addItem(item)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{item.ItemName}}
                        </td>
                        <td>
                            {{item.ItemQuantity}}
                        </td>
                    </tr>
                </table>
            </div>
        </span>
        <span ng-if="projects">
            <!-- PROJECTS LIST -->
            <div class="panel-heading">Projects</div>
            <div class="panel panel-default">
                <table class="table" ng-init="reverse=true">
                    <th data-checkbox="true"></th>
                    <th><a href="" ng-click="predicate ='ItemName'; reverse=!reverse">Label</a></th>
                    <th><a href="" ng-click="predicate='ItemQuantity'; reverse=!reverse">Quantity</a></th>
                    <!-- gotta change the ng-repeat and the columns to appropriately represent the data being pulled-->
                    <tr class="animate-repeat" ng-repeat="item in allProjects | orderBy:predicate:reverse">
                        <td>
                            <input type="checkbox" name="identifier" ng-value="item" ng-click="addItem(item)" />
                            <!-- the ng-click calls a function in the controller that adds the item to an array-->
                        </td>
                        <td>
                            {{item.ItemName}}
                        </td>
                        <td>
                            {{item.ItemQuantity}}
                        </td>
                    </tr>
                </table>
            </div>
        </span>
        <br />
        <br />
    </div>
